apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fastapi-gitops-starter.fullname" . }}
  labels:
    {{- include "fastapi-gitops-starter.labels" . | nindent 4 }}
data:
  ROOT_PATH: {{ .Values.app.rootPath | quote }}
