{{- if and .Values.registry.createImagePullSecret .Values.registry.token }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.registry.secretName }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ (dict "auths" (dict .Values.registry.server (dict "username" .Values.registry.username "password" .Values.registry.token "email" .Values.registry.email "auth" (printf "%s:%s" .Values.registry.username .Values.registry.token | b64enc)))) | toJson | b64enc }}
{{- end }}
