{{- if .Values.rollout.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "fastapi-gitops-starter.fullname" . }}
  labels:
    {{- include "fastapi-gitops-starter.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "fastapi-gitops-starter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "fastapi-gitops-starter.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "fastapi-gitops-starter.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: ROOT_PATH
          valueFrom:
            configMapKeyRef:
              name: {{ include "fastapi-gitops-starter.fullname" . }}
              key: ROOT_PATH
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 12 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 12 }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        {{- with .Values.volumeMounts }}
        volumeMounts:
          {{- toYaml . | nindent 12 }}
        {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  strategy:
    {{- if eq .Values.rollout.strategy "canary" }}
    canary:
      {{- if .Values.rollout.canary.maxSurge }}
      maxSurge: {{ .Values.rollout.canary.maxSurge }}
      {{- end }}
      {{- if hasKey .Values.rollout.canary "maxUnavailable" }}
      maxUnavailable: {{ .Values.rollout.canary.maxUnavailable }}
      {{- end }}
      {{- if .Values.rollout.analysis.enabled }}
      analysis:
        templates:
        - templateName: {{ include "fastapi-gitops-starter.fullname" . }}
        {{- if .Values.rollout.analysis.args }}
        args:
          {{- toYaml .Values.rollout.analysis.args | nindent 10 }}
        {{- end }}
      {{- end }}
      steps:
        {{- toYaml .Values.rollout.canary.steps | nindent 8 }}
    {{- else if eq .Values.rollout.strategy "blueGreen" }}
    blueGreen:
      activeService: {{ .Values.rollout.blueGreen.activeService | default (include "fastapi-gitops-starter.fullname" .) }}
      previewService: {{ .Values.rollout.blueGreen.previewService | default (printf "%s-preview" (include "fastapi-gitops-starter.fullname" .)) }}
      autoPromotionEnabled: {{ .Values.rollout.blueGreen.autoPromotionEnabled }}
      {{- if .Values.rollout.blueGreen.autoPromotionSeconds }}
      autoPromotionSeconds: {{ .Values.rollout.blueGreen.autoPromotionSeconds }}
      {{- end }}
      {{- if .Values.rollout.blueGreen.scaleDownDelaySeconds }}
      scaleDownDelaySeconds: {{ .Values.rollout.blueGreen.scaleDownDelaySeconds }}
      {{- end }}
      {{- if .Values.rollout.analysis.enabled }}
      prePromotionAnalysis:
        templates:
        - templateName: {{ include "fastapi-gitops-starter.fullname" . }}
        {{- if .Values.rollout.analysis.args }}
        args:
          {{- toYaml .Values.rollout.analysis.args | nindent 10 }}
        {{- end }}
      postPromotionAnalysis:
        templates:
        - templateName: {{ include "fastapi-gitops-starter.fullname" . }}
        {{- if .Values.rollout.analysis.args }}
        args:
          {{- toYaml .Values.rollout.analysis.args | nindent 10 }}
        {{- end }}
      {{- end }}
    {{- end }}
{{- end }}
