name: CI/CD Pipeline

on:
  release:
    types: [ published ]
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  # ruff:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: actions/setup-python@v2
  #     with:
  #       python-version: 3.9
  #   - run: pip install ruff
  #   - run: ruff check .

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run: pip install ruff
      - run: ruff check .

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run : |
          pip install pytest
          pytest --cov-fail-under 80

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.event_name == 'push' || github.event_name == 'release'
    permissions:
      contents: read
      actions: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build and push the image
        run : |
          docker login --username theogatea --password ${{ secrets.GH_PASSWORD }} ghcr.io
          docker build -t ghcr.io/theogatea/actions-runner-controller:latest .
          docker push ghcr.io/theogatea/actions-runner-controller:latest
